// mixins

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

$fukidashiSize: 10px;
@mixin fukidashiLeft($color) {
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  pointer-events: none;

  border-top-width: $fukidashiSize;
  border-bottom-width: $fukidashiSize;
  border-left-width: 10px;
  border-right-width: 10px;
  border-right-color: $color;
  position: absolute;
  right: 100%;
  top: 50%;
  margin-top: -$fukidashiSize;
}

@mixin fukidashiRight($color) {
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  pointer-events: none;

  border-top-width: $fukidashiSize;
  border-bottom-width: $fukidashiSize;
  border-left-width: 10px;
  border-right-width: 10px;
  border-left-color: $color;
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -$fukidashiSize;
}
