@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600;800&display=swap');
@import './_doctor_reset.scss';
@import './_variables.scss';
@import './_bulma.scss';
@import './_mixins.scss';

*,
*::before,
*::after {
  touch-action: manipulation;
}

html {
  font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
  user-select: none;
  background-color: $app-color;
}

.wf {
  font-family: 'Dosis';
  font-weight: bold;
}

a {
  cursor: pointer;
}

:root {
}

.view {
  position: absolute;
  display: grid;
  // grid-template-rows: min-content auto min-content;
  grid-template-rows: min-content auto;
  overflow: hidden;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* -------------------- 
 furigana
 ---------------------*/
.furigana {
  color: rgb(191, 99, 2);
}

.-ja {
  .furigana {
    display: none;
  }
}
